<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Info on you</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'styling_sheet.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style_sheet.css') }}"> -->

  </head>
  <body>
    <h1>Dell Survey Index</h1>

    <form class="" action="/User1" method="post">

      Your Name <input type="text" name="name" >

      Dojo Location <select class="" name="list1">
        <option value="Silicon Vally">Silicon Valley</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Chicago">Chicago</option>

      </select>
      Favorite Language: <select class="selecet" name="list2">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="HTML">HTML</option>
        <option value="Python">Python</option>
      </select>

      Comment (optional): <textarea name="comment" rows="20" cols="80"></textarea>

      <input type="submit" value="Submit Me">

    </form>

  </body>
</html>
