<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form test index</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>

    <form class="" action="/users" method="post">
      User Name:<input type="text" name="name" value="">
      Email: <input type="text" name="email" value="">
      <input type="submit" name="" value="create user">
    </form>
  </body>
</html>

<!-- <html>
  <head>
    <meta charset="utf-8">
    <title>Getting info</title>
  </head>
  <body>
    <h1>This is your info</h1>
    <form class="" action="/" method="post">
      Name : <p>{{ name }}</p>

      Dojo Location: <p>{{ list }}</p>

      Favorite Language: <p>{{ list }}</p>

      Comment (optional): <p>{{ comment }}</p>

      <input type="submit" name="Go back" value="Go back">
    </form>

  </body>
</html> -->
