<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All about ninjas</title>
  </head>
  <body>
    <h1>Ninja were not called ninja</h1>
    <p>Documents show that the ideograms for ninja were correctly read as shinobi no mono in the medieval period,
      “ninja” which is the mock-Chinese reading of the same ideograms became popular in the 20th century.</p>

      <h1>The first mention of ninja</h1>
      <p>The first historical record of ninja comes from the Taiheiki war chronicle written around 1375.
        It states that ninja were sent out on a stormy night to infiltrate and burn down enemy buildings.</p>

      <h1>The ninja golden age</h1>
      <p>The ninja thrived during the 15th and 16th centuries when Japan was torn apart by wars. After the year 1600,
        peace arrived in Japan and so began the decline of the ninja.</p>

  </body>
</html>
